@charset "UTF-8";

@page :left {
    margin: 12mm 14mm 12mm 12mm;
}
@page :right {
    margin: 12mm 12mm 12mm 14mm;
}
@page {
    counter-increment: page;
}
body {
    margin: 0;
    text-align: justify;
    font-family: serif;
    widows: 1;
    orphans: 1;    
}

h1, h2, h3, h4, h5, h6 {
    page-break-inside: avoid;
    font-weight: normal;
    font-family: sans-serif;
}

p {
    margin: 0;
    text-indent: 1em;
}

#left-nombre,
#right-nombre {
    display: block;
    bottom: -6mm;
    font-size: 2.5mm;
    line-height: 1;
}
#left-nombre {
    -cssj-page-content: nombre-left left;
    left: -7mm;
}
#right-nombre {
    -cssj-page-content: nombre-right right;
    right: -7mm;
}
#left-nombre .heading:before,
#right-nombre .heading:before {
    content: -cssj-heading(1);
}
#left-nombre .page,
#right-nombre .page {
	display: inline-block;
    width: 8mm;
    font-size: 3mm;
    text-align: center;
}
#left-nombre .page:before,
#right-nombre .page:before {
    content: counter(page);
}

div.section {
    margin-left: 4em;
    font-size: 14pt;
    font-family: sans-serif;
    line-height: 1.2;
}
div.section div.label {
    position: relative;
    height: 1em;
    margin: 1em 0 1em -2em;
    page-break-after: avoid;
    page-break-inside: avoid;
}
div.section div.label:after {
    content: ' ';
    border-bottom: 0.3mm dashed Black;
    left: 0;
    top: 0.5em;
    position: absolute;
    z-index: -1;
    width: 100%;
}
div.section div.label span.text {
    position: relative;
    background-color: White;
    z-index: 1;
    padding-right: 1em;
}

div.section div.item {
    clear: both;
    page-break-inside: avoid;
    font-size: 10pt;
    font-family: serif;
    line-height: 1.8;
}

div.section a:after {
	position: absolute;
	right: 0;
	z-index: 2;
	padding: .2em 1em;
	background-color: White;
    font-size: 10pt;
    font-family: serif;
    content: -cssj-page-ref(attr(href), page);
}
div.section div.item a:after {
	position: static;
    content: ' (' -cssj-page-ref(attr(href), page) ')';
}
div.section div.item a {
    margin-left: 1em;
}
div.section a,
div.section a:link {
    color: Black;
    text-decoration: none;
}