@charset 'UTF-8';

body {
    text-align: justify;
    line-height: 1.618;
    -epub-writing-mode: vertical-rl;
    -cssj-direction-mode: vertical-rl;
}

ol li {
	list-style-type:-cssj-full-width-decimal;
}

.wp-caption {
    margin: 2.5mm 0;
    -epub-writing-mode: horizontal-tb;
    -cssj-direction-mode: horizontal-tb;
    font-family: sans-serif;
}

* {
	max-width: 100%;
	max-height: 100%;
}
